/* Fix Margins */
* {
    --pagedjs-margin-top: 0.5in;
    --pagedjs-margin-right: 0.25in;
    --pagedjs-margin-left: 0.25in;
    --pagedjs-margin-bottom: 0.5in;
    --pagedjs-pagebox-width: 8.5in;
    --pagedjs-pagebox-height: 11in;
}

:root {
    --sidebar-width: 12rem;
}

.blocks {
    break-inside: avoid;
}

/* Make font black */
.pagedjs_sheet, .aside, .main, 
body, p, ul, a {
    background: white; 
    color: black; 
    font-family: "Helvetica";
}
