/* Fix Margins */
* {
    --pagedjs-margin-top: 0.5in;
    --pagedjs-margin-right: 0.25in;
    --pagedjs-margin-left: 0.25in;
    --pagedjs-margin-bottom: 0.5in;
    --pagedjs-pagebox-width: 8.5in;
    --pagedjs-pagebox-height: 11in;
}

:root{--sidebar-width: 12rem;}

.blocks {break-inside: avoid;}

/* Make font black & Makes links blue*/
.pagedjs_sheet, .aside, .main {background: white; color: black; font-family: "Helvetica";}

body, p, ul, a {background: white; color: black; font-family: "Helvetica";}